fastapi
uvicorn[standard]
python-multipart
pdfplumber
spacy
sentence-transformers
scikit-learn
numpy
pandas
requests
groq
motor
joblib
python-dotenv
passlib[bcrypt]
python-jose[cryptography]
pydantic[email]
pytest
httpx
